# Created by http://www.gitignore.io

### Bower ###
bower_components/jquery/MIT-LICENSE.txt
bower_components/jquery/bower.json
bower_components/jquery/.bower.json
bower_components/jquery/src
bower_components/bootstrap/README.md
bower_components/bootstrap/bower.json
bower_components/bootstrap/fonts
bower_components/bootstrap/.bower.json
bower_components/bootstrap/node_modules
bower_components/bootstrap/less
bower_components/bootstrap/Gruntfile.js
bower_components/bootstrap/grunt
bower_components/bootstrap/js
bower_components/bootstrap/test-infra
bower_components/bootstrap/LICENSE
bower_components/bootstrap/package.json
bower_components/bootstrap/docs


