<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LCBO Project</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
         queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script
src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script
src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    {{ content }}


	    var asInitVals =[];
	    $(document).ready(function() {
		$('#dynamic').html( '<thead><tr><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th><th><input type="text" name="search_" value="Search" class="search_init"></th></tr></thead><table class="display table table-bordered" id="example"></table>' );
		var oTable = $('#example').dataTable( {
		    "aaData": aDataSet,
		    "aoColumns": [
			{ "sTitle": "Product Number" },
			{ "sTitle": "Product Name" },
			{ "sTitle": "Volume(ml)" },
			{ "sTitle": "Price" },
			{ "sTitle": "Alcohol %" },
			{ "sTitle": "Volume of Alcohol (mL)" },
			{ "sTitle": "Volume of Alcohol per dollar (mL/$)" },
			{ "sTitle": "Type" },
			{ "sTitle": "Category 1" },
			{ "sTitle": "Category 2", "sClass": "center" },
		    ],
		    "oLanguage": {
		    "sSearch": "Search all columns:"
		    }
		} );
	$("thead input").keyup( function () {
	/* Filter on the column (the index) of this element */
	oTable.fnFilter( this.value, $("thead input").index(this) );
    } );
    
    
    
    /*
     * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
     * the footer
     */
    $("thead input").each( function (i) {
	asInitVals[i] = this.value;
    } );
    
    $("thead input").focus( function () {
	if ( this.className == "search_init" )
	{
	    this.className = "";
	    this.value = "";
	}
    } );
    
    $("thead input").blur( function (i) {
	if ( this.value === "" )
	{
	    this.className = "search_init";
	    this.value = asInitVals[$("thead input").index(this)];
	}
    } );		
	    } );
    </script>  
  </head>
  <body>
  <div class = "container">
    <h1>LCBO Project</h1>
    <p>To sort by multiple columns, hold down shift when clicking those columns</p>
    <div id = "dynamic"></div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as
         needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
